<% if user_signed_in? %>
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<%= stylesheet_link_tag 'bootstrap-image-gallery.min.css', media: 'all', 'data-turbolinks-track' => true %>

<% provide(:title, 'Home') %>

<div class="search-container">    
 	<div class="search-box">
 		<form >
    		<div class="input-group search-input">
       			<input type="text" class="form-control" placeholder="Search by picture name or by tags">
    		</div>
 		</form>
 	</div>	
</div> 


<!-- Page Content -->
<div class="container home-content">

    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <%= render 'shared/user_info' %>
            </section>
            <section class="stats">
                <%= render 'shared/stats' %>
            </section>
        </aside>
    </div>

    <div id="links">
<%
	index = 0;
	@images.each do |image| %>
	<%
		if ((index + 1) % 4) == 1
	%>
	<div class = "row" style="padding: 5px;">
	<%
		end
		index += 1
	%>
	<div class="col-lg-3">
		<div class="row">
			<div class="row">
		   <a href="/images/<%= image.id %>" title="<%= image.name %>" class="image_element" id="<%= image.id %>" data-gallery>
			      <img src="<%= image.url %>" width="280px" height="280px">
			   </a>
	   </div>
	   <div class="row">
	   		Posted by <a href="/users/<%= image.user_id %>"><%= image.user.email %></a> at <%= image.created_at.strftime("%I:%M%p") + " on " + image.created_at.strftime(" %Y/%m/%d") %>
	   </div>
	   </div>
	   
	 </div>
	  <%
		if ((index + 1) % 4) == 1
	%>
	</div>
	<%
	  end
	%>
<%
	end
%>

</div>

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->


</div>
<% else %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Mountain King - Bootstrap Template</title>
		
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:300,700,900,500' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.7/typicons.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        </script>
    </head>
    <body class="home-body">

        <header id="home">
            <div class="container-fluid">
                <!-- change the image in style.css to the class header .container-fluid [approximately row 50] -->
				<div class="jumbotron">
					<h1><small>Welcome to the world of the most</small></br>
					<strong>BEAUTIFUL GIRLS</strong></h1>
					<p>on Earth.<br>View, share millions of pretty pictures for FREE.<br>Share now and make your day.</p>
					<% if !user_signed_in? %>
					<p>				
						<a target="_self" href="/signup" class="btn btn-primary btn-lg home-button" role="button">SIGN UP</a> 
						<a target="_self" href="/login" class="btn btn-lg btn-danger  home-button" role="button">LOGIN</a>
					</p>
					<% end %>
				</div>
            </div>
        </header>
        <section id="feat">
            <div class="container">
                <div class="row features">
                    <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="100ms">
                        <span class="typcn typcn-pencil x3"></span>
                        <h4>Consectetur Risus</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                    <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="300ms">
                        <span class="typcn typcn-camera-outline x3"></span>
                        <h4>Ultricies Aenean</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    </div>
                    <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="500ms">
                        <span class="typcn typcn-bookmark x3"></span>
                        <h4>Cras Sollicitudin</h4>
                        <p>Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum.</p>
                    </div>
                </div>
            </div>  
<!-- /.container -->
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<%= javascript_include_tag 'bootstrap-image-gallery.js', 'data-turbolinks-track' => false %>

<% end %>