<% @comments.each do |comment| %>
  <% if(comment.user != nil) %>
  <div class="row"  style="margin-top: 5px; margin-bottom: 5px;background-color: aliceblue;">
    <div class="col-md-1">
      <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
    </div>
    <div class="col-md-11">
      <div class="row">
        <span><%= (comment.user.name != nil)? comment.user.name : "No name" %></span>
        <% if(current_user == comment.user) %>
        <span style="margin: 5px;">
          <%= comment.created_at.to_formatted_s(:short)%>
        </span>
        <span style="float: right;">
          <%= link_to "delete", comment, method: :delete,  data: { confirm: "You sure?" } %>
        </span>
        <% end %>
      </div>
      <div class="row">
        <span><%= comment.context %></span>
      </div>
    </div>
  </div>
  <% end %>
<% end %>