<%= form_for([current_user, @new_comment], remote: true) do |f| %>
  <div class="field">
    <%= f.text_area :context, class: "form-control col-lg-8", id: "comment-val-form", placeholder: "Provide comment here." %>
    <%= f.hidden_field :image_id, :value => @image.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit "Leave Comment" %>
  </div>
<% end %>