<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Login &amp; Register Templates</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

    </head>

    <body class="login-body">

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="input-form">
						<div class="form-box">
							<div class="form-top">
								<div class="form-top-left">
									<h3>Login to our site</h3>
									<p>Enter username and password to log on:</p>
								</div>
								<div class="form-top-right">
									<i class="fa fa-key"></i>
								</div>
							</div>
						
							<div class="form-bottom">
								<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
									<div class="form-group">
									  <%= f.label :email , class: "form-label"%><br />
									  <%= f.email_field :email, :required => true, autofocus: true, class: 'form-control login-form',:placeholder=>'johnsmith@example.com' %>
									</div>

									<div class="form-group">
									  <%= f.label :password , class: "form-label"%><br />
									  <%= f.password_field :password, :required => true, autocomplete: "off", class: 'form-control login-form',:placeholder=>'********' %>
									</div>		
									  
									  <% if devise_mapping.rememberable? %>
										<%= f.label :remember_me, class: "checkbox inline" do %>
												  <%= f.check_box :remember_me %>
										<span>Remember me</span>
									  <% end %>
								<% end %>
								<div class="actions">
									<%= f.submit "Login",class: "btn login-btn" %>
								</div>
							  
								<% end %>
								<p>New user? <%= link_to "Sign up now!", signup_path %></p>
							</div>                	
						</div>                   
					</div>
				</div>            
			</div>  
		</div>
    </body>
</html>



<!--
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
          <%= f.label :email %><br />
          <%= f.email_field :email, :required => true, autofocus: true, class: 'form-control',:placeholder=>'johnsmith@example.com' %>

          <%= f.label :password %><br />
          <%= f.password_field :password, :required => true, autocomplete: "off", class: 'form-control',:placeholder=>'********' %>
          
          <% if devise_mapping.rememberable? %>
            <%= f.label :remember_me,class: "checkbox inline" do %>
                      <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
          <% end %>
        <% end %>
      
        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>
      
        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
</div>
-->
