<%= form_for(@image, html:{ multipart: true }) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'ネーム' %><br>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= f.label '描写' %><br>
    <%= f.text_area :description %>
  </div>
  <br>
  <div class="field">
    <%= f.label '画像' %><br>
    <%= f.file_field :url %>
  </div>
  <br>
  <div class="field">
    <%= f.check_box :is_shared %>
    <%= f.label '画像をシェアしてもよろしいでしょうか？' %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
